{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>León</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque labore quidem accusantium, quos aspernatur vero ducimus alias quod porro obcaecati beatae atque, nesciunt quia maiores autem at fugiat quae. Corrupti!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/leon.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}